html
	{
		font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
		background-color: #383838;
		color: #cfcfcf;
	}

body
    {
        margin: 0 10vw;
        border: 0;
        padding: 0;
    }
    div
        {
            display: flex;
            justify-content: space-between;

            margin: 0;
            border: 0;
            padding: 2vw 0 0;

            width: 100%;
        }
        h1
            {
                margin: 0;
                border: 0;
                padding: 0;

                font-size: 30pt;

                text-align: left;
                word-wrap: break-word;
            }
        img
            {
                max-width: 30pt;
                max-height: 30pt;

                margin: 0;
                border: 0;
                padding: 0 3vw 0 0;
            }
    pre
        {
            font-family: 'Fira Code', 'Courier New', Courier, monospace;
            font-size: 18pt;
            font-weight: bold;

            word-wrap: break-word;
            white-space: pre-wrap;
        }