/* PRIMARY BODY */
html
	{
		font-family: 'Press Start 2P', 'Courier New', Courier, monospace;
		background-color: #383838;
		color: #cfcfcf;
	}

/* LINKS GENERALIZATION */
a:link, a:visited, a:hover, a:active
	{
	text-decoration: none;
	color: #cfcfcf;
	}

body
	{
		margin: 0 auto;
		border: 0;
		padding: 0;
	}

/* NAVIGATION BAR EDITS */
div.fix
	{
		position: fixed;
		background-color: #414141;

		font-size: 1.2vw;

		width: 100%;

		margin: 0;
		border: 0;
		padding: 0;
	}
	nav.nav
		{
			display: flex;
			justify-content: space-between;

			margin: 0;
			border: 0;
			padding: 1vw;
		}
		div.left
			{
				display: flex;
				align-items: center;
			}
			div.left img
				{
					max-width: 3vw;
					margin: 0;
					border: 0;
				}
		div.right
			{
				display: flex;
				justify-content: end;
				align-items: center;
				
				margin: 0;
				border: 0;
				padding: 1vw;
			}
			div
				{
					padding: 0 2vw;
				}
				div.org
					{
						padding: 0 2vw;
						max-width: 100%;
					}
					div.org-drpdwn
						{
							display: none;

							background-color: #414141;
							padding: 1vw 0;
						}
							div.comp1, div.comp2, div.comp3
								{
									padding: 1vw 0;
								}
						/* HOVERED WHEN */
						/* div.org:hover div.org-drpdwn
							{
								display: block;
								position: absolute;
								max-width: 100%;
							} */

							/* WORK IN HOVER TOMORROW */