RewriteEngine on
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://{HTTP_HOST}%{REQUEST_URI}

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# Alternate Default Index Page
DirectoryIndex wedgeport.html