/* PRIMARY BODY */
html
{
    margin: 0;
    border: 0;
    padding: 0;

	font-family: 'Press Start 2P', monospace;
	background-color: white;
	color: #cfcfcf;

    /* FIXED PAGE SIZE A4 */
    /* max-width: 2480px;
    max-height: 3508px */
}
table
{
    display: inline-block;

    margin: 0 auto;
    border: solid black 2px;
    border-collapse: collapse;
}
tbody
{
    margin: 10px;
    border: solid black 2px;
    padding: 10px;
}
th
{
    margin: 10px;
    border: solid black 3px;
    padding: 10px;

    text-align: center;
    vertical-align: middle;
}
td
{
    margin: 10px;
    border: solid black 3px;
    padding: 10px;

    text-align: left;
    vertical-align: text-top;
}